body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;


}

h1 {
    position: relative;
    bottom: 100px;
    margin: 0 0 0;
    font-family: 'Sacramento', cursive;
    font-size: 4.37em;
    color: #D5B4B4;

}

#under-header {
    color: #D5B4B4;
    position: relative;
    bottom: 100px;
}

#pad {
    padding-bottom: 20px;
}

h2 {

    font-weight: 500;
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
}

h3 {
    color: #867070;
}

.top-container {
    background-color: #F5EBEB;
    padding-top: 450px;
    position: relative;


}

.middle-container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: whitesmoke;

}

.bottom-container {

    padding-top: 15px;
    padding-bottom: 2px;
    background-color: #867070;
    color: #F5EBEB
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 400px;


}

.top-cloud-2 {
    position: absolute;
    top: 150px;
    right: 550px;
}

.top-cloud-3 {
    position: absolute;
    left: 200px;
    top: 200px;
}

.top-cloud-4 {
    position: absolute;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 400px;
}

.bottom-cloud-2 {
    position: absolute;
    bottom: 200px;
    left: 700px;
}

.img-skill-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
    position: relative;
    bottom: 20px;

}

.img-skill-2 {
    width: 25%;
    float: right;
}

.middle {
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #352c2c;
}

.sp1 {
    display: inline-block;
    margin: 0 20px 0 auto;
}


.sp2 {
    display: inline-block;
    margin: 0 20px 0 auto;
}

.sp3 {
    display: inline-block;
}

.linkedin {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.twitter {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.instagram {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.skills {
    margin-bottom: 0;
    padding: 40px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    display: inline-block;
}

.contact-me {
    margin-top: 40px;
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: #867070;
    width: 6%;
    opacity: 0.5;
    margin: 90px auto 10px auto;
}

.btn {
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    font-family: Arial;
    color: #F5EBEB;
    font-size: 20px;
    background: #867070;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #221f32;
    text-decoration: none;
}
